citadel_version: 4
metadata:
  name: Core Lightning
  version: 0.12.1
  category: Run a Lightning node
  tagline: An open-source Lightning backend
  developers:
    Elements: https://github.com/ElementsProject/lightning
  permissions:
    - bitcoind
    - network
  repo:
    Public: https://github.com/ElementsProject/lightning
  support: https://t.me/runcitadel
  gallery:
    - 1.jpg
    - 2.jpg
    - 3.jpg
  path: ""
  torOnly: false
  description: >-
   Core Lightning has more features, but is supported by less apps than LND and only works after sync.
  implements: lightning
services:
  main:
    # TODO: CLN UI
    image: ghcr.io/runcitadel/electrum-ui:main@sha256:d3d8126aecd6ee142f4a34900de2c1f3c8e0493ac30b93f1db3f4c1b33bad6ef
    init: true
    port: 8000
    environment:
      BITCOIN_IP: $BITCOIN_IP
      BITCOIN_RPC_PORT: $BITCOIN_RPC_PORT
      BITCOIN_RPC_USER: $BITCOIN_RPC_USER
      BITCOIN_RPC_PASS: $BITCOIN_RPC_PASS
      # Using a public server right now
      ELECTRUM_IP: 104.248.139.211
      ELECTRUM_PORT: 50001
    restart: on-failure

  service:
    image: ghcr.io/runcitadel/core-ln:main@sha256:8cbd8964feb137f49f218e791e52d916a5658f6671f93d4c7199e885bf037149
    user: 1000:1000
    mounts:
      shared_data:
        cln: /data/.lightning
        core-ln.conf: /data/.lightning/config
      bitcoin: /data/.bitcoin
    environment:
      {% if BITCOIN_NETWORK == "mainnet" %}
      LIGHTNINGD_NETWORK: bitcoin
      {% else %}
      LIGHTNINGD_NETWORK: $BITCOIN_NETWORK
      {% endif %}
      CL_REST_STATE_DIR: /data/.lightning
    restart: on-failure
    stop_grace_period: 5m30s
    required_ports:
      tcp:
        9737: 9737
        9735: 9735
    hidden_services:
      service:
        9735: 9735
      sparko:
        9737: 9737

  middleware:
    image: ghcr.io/runcitadel/middleware:main@sha256:fdb8b40a651cb4563c754c3f29d1826d32460100c9846d185e8609f0b357eec6
    depends_on:
    - service
    command: sh -c "./wait-for-manager.sh $MANAGER_IP && ./start.sh"
    restart: on-failure
    mounts:
      jwt-public-key: /jwt-public-key
      data:
        cln: /c-lightning
    environment:
      PORT: '3000'
      BITCOIN_HOST: $BITCOIN_IP
      RPC_PORT: $BITCOIN_RPC_PORT
      RPC_USER: $BITCOIN_RPC_USER
      RPC_PASSWORD: $BITCOIN_RPC_PASS
      LND_NETWORK: $BITCOIN_NETWORK
      JWT_PUBLIC_KEY_FILE: /jwt-public-key/jwt.pem
      DEVICE_HOSTS: ${DEVICE_HOSTS:-"http://citadel.local"}
      UNSAFE_REMOVE_CORS_CHECK: true
      LIGHTNING_IMPL: c-lightning
