# SPDX-FileCopyrightText: 2021-2022 Citadel and contributors.
#
# SPDX-License-Identifier: GPL-3.0-or-later

SocksPort   {{APP_LND_TOR_IP}}:9050
ControlPort {{APP_LND_TOR_IP}}:29051

# LND REST Hidden Service
HiddenServiceDir /var/lib/tor/lnd-rest
HiddenServicePort 8080 {{APP_LND_SERVICE_IP}}:8080

# LND gRPC Hidden Service
HiddenServiceDir /var/lib/tor/lnd-grpc
HiddenServicePort 10009 {{APP_LND_SERVICE_IP}}:10009

HashedControlPassword {{ tor_password | tor_hash }}
