citadel_version: 4
metadata:
  name: LNbits
  version: 0.10.8
  category: Lightning Node Management
  tagline: Multi-user wallet management system
  developers:
    LNbits: https://github.com/lnbits/lnbits
  permissions:
  {% if services is containing("lnd") %}
    - lnd
  {% elif services is containing("core-ln") %}
    - core-ln
  {% else %}
    - - lnd
      - core-ln
  {% endif %}
  repo:
    Public: https://github.com/lnbits/lnbits
  support: https://t.me/lnbits
  gallery:
  - 1.jpg
  - 2.jpg
  - 3.jpg
  defaultPassword: $APP_SEED
  torOnly: false
  description: Description coming soon.
services:
  main:
    image: lnbitsdocker/lnbits-legend:0.10.8@sha256:60f81a40cb55c26185559f66d2898befaac930275411a405d1f6c47f7f6ae7fe
    working_dir: /app
    user: 1000:1000
    restart: on-failure
    init: true
    command: sh -c 'uvicorn lnbits.__main__:app --port 5000 --proxy-headers --host 0.0.0.0 --forwarded-allow-ips "*"'
    environment:
      LNBITS_DEFAULT_WALLET_NAME: LNbits wallet
      LNBITS_DISABLED_EXTENSIONS: amilk
      LNBITS_ADMIN_EXTENSIONS: ngrok,admin
      LNBITS_ADMIN_UI: "true"
      LNBITS_DATA_FOLDER: /data
      LNBITS_SITE_TITLE: LNbits
    {% if services is containing("lnd") %}
      LNBITS_BACKEND_WALLET_CLASS: LndRestWallet
      LND_REST_CERT: /lnd/tls.cert
      LND_REST_MACAROON: /lnd/data/chain/bitcoin/$BITCOIN_NETWORK/admin.macaroon
      LND_REST_ENDPOINT: https://$APP_LND_SERVICE_IP:8080/
    {% elif services is containing("core-ln") %}
      CLIGHTNING_RPC: /c-lightning/bitcoin/lightning-rpc
      LNBITS_BACKEND_WALLET_CLASS: CLightningWallet
    {% endif %}
    port: 5000
    mounts:
    {% if services is containing("lnd") %}
      lnd: /lnd
    {% elif services is containing("core-ln") %}
      core-ln: /c-lightning
    {% endif %}
      data:
        data: /data
        upgrades: /app/lnbits/upgrades
        extensions: /app/lnbits/extensions
        super_user: /app/.super_user
